{% extends "base.html" %}


{% block navbar %}

    {% include "navbar.html" %}

{% endblock navbar %}




{% block sidebar %}

    {% with thispage=main_entity.qname %}
        {% include "sidebar.html" %}
    {% endwith %}

{% endblock sidebar %}



{% block bodycontent %}
{% ifequal main_entity_type "property"  %}

        {% with main_entity as each  %}

           <ol class="breadcrumb">
            	<li>
            		<a href="entities-az.html">Entities</a>
            	</li>
            	<li>
                    <a href="entities-tree-properties.html">Properties</a>
                </li>
            	<li class="active">{{each.qname}}</li>
            </ol>


            <h1>
{#                Property: #}
                {{each.qname}}
                {% if not each.children  %}
                    <small class="label label-success label-xs ">leaf node</small>
                  {% endif %}

            </h1>

            <hr>


            <div class="row"><div class="col-md-12">
               <div class="panel panel-default">
             <div class="panel-heading">
               <h3 class="panel-title">URI</h3>
             </div>
             <div class="panel-body">

                 <code>{{each.uri}}</code>
             </div>
           </div>
            </div></div>


            <div class="row"><div class="col-md-12">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body">

                {{each.bestDescription|default:"--"}}
            </div>
          </div>
           </div></div>



            {% if each.ancestors %}

                    <div class="row"><div class="col-md-12">
                      <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Inherits from</h3>
                    </div>
                    <div class="panel-body">

                    {% if each.ancestors %}
                            {% for s in each.ancestors %}<li><a href="{{s.slug}}.html">{{s.qname}}</a></li>{% endfor %}
                    {% else %}
                        <li>owl:Thing</li>
                    {% endif %}

                    </div>
                  </div>
                   </div></div>

            {% endif %}



            {% if each.children %}

                  <div class="row"><div class="col-md-12">
                    <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Sub Property</h3>
                  </div>
                  <div class="panel-body">

                      {% for s in each.children %}<li><a href="{{s.slug}}.html">{{s.qname}}</a></li>{% endfor %}


                  </div>
                </div>
                 </div></div>

            {% endif %}



            <div class="row"><div class="col-md-12">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Domain</h3>
            </div>
            <div class="panel-body">

                {% if each.domains %}
                    {% for s in each.domains %}
                      <li><a href="{{s.slug}}.html">{{s.qname|default:s}}</a></li>
                    {% endfor %}
                {% else %}
                    <li><a>owl:Thing</a> (inferred)</li>
                {% endif %}

            </div>
          </div>
           </div></div>



           <div class="row"><div class="col-md-12">
             <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title">Range</h3>
           </div>
           <div class="panel-body">

               {% if each.ranges %}
                   {% for s in each.ranges %}
                     <li><a href="{{s.slug}}.html">{{s.qname|default:s}}</a></li>
                   {% endfor %}
               {% else %}
                   <li><a>owl:Thing</a> (inferred)</li>
               {% endif %}

           </div>
         </div>
          </div></div>


           <div class="row"><div class="col-md-12">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Implementation</h3>
            </div>
            <div class="panel-body implementation-panel">

                {% if pygments_code %}

                    {{pygments_code|safe}}

                {% else %}
                     <div class="implementation">
                        <code style="background-color: white;">{{each.serialize|linebreaks}}</code>
                    </div>
                {% endif %}
            </div>
          </div>
           </div></div>




        {% endwith %}



{% endifequal %}




{% endblock bodycontent %}
