{% extends "base.html" %}


{% block navbar %}

    {% include "navbar.html" %}

{% endblock navbar %}




{% block sidebar %}

    {% with thispage=treetype %}
        {% include "sidebar.html" %}
    {% endwith %}

{% endblock sidebar %}



{% block bodycontent %}

  <ol class="breadcrumb">
    <li>
      <a href="entities-az.html">Entities</a>
    </li>
    <li class="active">
          {{treetype|capfirst}}
      </li>
  </ol>



  <div class="page-header">

      <h3>Entities Tree: {{treetype|capfirst}}

      </h3>

  </div>



     <div class="row"><div class="col-md-12">
        <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tree</h3>
      </div>
      <div class="panel-body">

          {{treeTable|safe}}


      </div>
    </div>
     </div></div>






    <div class="container margin50">


    </div> <!-- /container -->


  {% endblock bodycontent %}





{% block extrajs %}



{% endblock extrajs %}
