{% extends "base.html" %}


{% block navbar %}

    {% with thispage="dashboard" %}

    {% include "navbar.html" %}

    {% endwith %}

{% endblock navbar %}


{% block sidebar %}

    {% with thispage="dashboard" %}
        {% include "sidebar.html" %}
    {% endwith %}

{% endblock sidebar %}


{% block bodycontent %}

        <div class="page-header">

            <h3>Dashboard
{#            <small><a href="#menu-toggle" class="btn btn-default btn-xs" id="menu-toggle">Toggle Menu</a></small>#}
            </h3>

        </div>


        <div class="row">
            <div class="container">
            <div class="col-md-12">
                {% include "onto_header.html" %}
                <hr>
            </div>
            </div>

        </div>



      <div class="row">

        {# first column #}
        <div class="col-md-6">

        {% if namespaces %}
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Namespaces</h3>
            </div>
            <div class="panel-body" style="overflow: auto;">
               <dl class="-dl-horizontal" style="--margin-left: -100px;">

               {% for x, y in namespaces  %}
                   <dt><span class="label label-success">{{x|default:":"}}</span></dt>
                   <dd><a href="{{y}}" target="_blank">{{y}}</a></dd>

               {% endfor %}

              </dl>
            </div>
          </div>
            </div>
          </div>
          {% endif %}

           {% if ontologies%}

           {% for ontology in ontologies %}

           <div class="row"><div class="col-md-12">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Ontology Metadata</h3>
            </div>
            <div class="panel-body">
              <h5 class="well"><code>{{ ontology.uri }}</code></h5>
                {% if ontology.annotations %}
                    <dl>
                        {% for each in ontology.annotations %}
                            {% ifchanged each.1 %}<dt>{{each.1}}</dt>{% endifchanged %}
                            <dd>{{each.2}}</dd>
                        {% endfor %}
                    </dl>
                {% else %}
                    <i>No metadata available</i>
                {% endif %}
            </div>
          </div>
           </div></div>
           {% endfor %}
        {% endif %}


           <div class="row"><div class="col-md-12">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Metrics</h3>
            </div>
            <div class="panel-body">
                <dl>
                 {% for each in stats %}


                      <dt>{{each.0}}</dt>
                      <dd>{{each.1}}</dd>


                    {% endfor %}
                </dl>
            </div>
          </div>
           </div></div>




        </div>
         {# END first column #}


        {# second column #}
        <div class="col-md-6">


          <div class="row"><div class="col-md-12">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Entity Types</h3>
            </div>
            <div class="panel-body">


                <div class="row">


                    <div class="col-md-12 ">
                        <br />
                        <canvas id="entitiesBarChart" height="300"></canvas>
                    </div>



                </div>


            </div>
          </div>
           </div></div>




        {% if ontospy_graph.toplayer %}
            <div class="row"><div class="col-md-12">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Top Layer: Classes</h3>
            </div>
            <div class="panel-body">

                <div class="row">


                    <div class="col-md-12 ">

                        <span class="text-muted">NOTE: size = number of sub-classes</span>
                        <br />
                        <canvas id="toplayerChart" height="300"></canvas>


                    </div>



                </div>

            </div>
          </div>
          </div></div>
        {% endif %}




        {% if ontospy_graph.toplayerSkosConcepts %}
            <div class="row"><div class="col-md-12">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Top Layer: SKOS</h3>
            </div>
            <div class="panel-body">

                <div class="row">


                    <div class="col-md-12 ">

                        <span class="text-muted">NOTE: size = number of sub-classes</span>
                        <br />
                        <canvas id="toplayerChartSKOS" height="300"></canvas>
                    </div>



                </div>

            </div>
          </div>
          </div></div>
        {% endif %}






           <div class="row"><div class="col-md-12">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Triples</h3>
            </div>
            <div class="panel-body">

                <div class="col-sm-3 col-md-3 ">
                    <p id="chartsLegend">
                        <span class="text-muted" style="text-transform: uppercase;">Triples</span>
                        <br /><span style="font-size: 250%;"> {{ontospy_graph.triplesCount}}</span>
                    </p>
                </div>

	        	<canvas id="triplesStats" height="300"></canvas>

            </div>
          </div>
           </div></div>



        </div>
         {# END second column #}

      </div>




    <div class="container margin50">


    </div> <!-- /container -->


  {% endblock bodycontent %}





{% block extrajs %}



<script type="text/javascript">

    // utility to assign colors dynamically at js level

    function getColor(i) {
        var colors = [["#F7464A", "#FF5A5E"],    // color , highlightColor
                       ["#46BFBD", "#5AD3D1"],
                       ["#FDB45C", "#FFC870"],
                       ["#6588A8", "#CCD3FF"],
                       ["#6960EC", "#736AFF"],
                       ["#FFA62F", "#FBB917"],
                       ["#7D0552", "#7E354D"],
                       ["#FDB45C", "#FFC870"],
                        ];
        return colors[i]
    }



// FIRST CHART : types of entities


	var ctx = document.getElementById("entitiesBarChart").getContext("2d");

    var data = {
    // labels: ["January", "February", "March", "April", "May", "June", "July"],
    labels: [
             {% for each in stats %}
                {% if each.0 != "Triples"  %}"{{each.0}}"
                    {% if not forloop.last %} , {% endif %}
                {% endif %}
            {% endfor %}
    ],
    datasets: [
        {
            label: "Entities Count",
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
          // data: [65, 59, 80, 81, 56, 55, 40],
            data: [
             {% for each in stats %}
                {% if each.0 != "Triples"  %}{{each.1}}
                    {% if not forloop.last %} , {% endif %}
                {% endif %}
            {% endfor %}
                 ],
            }
        ]
        };

    var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
        legend: {
            display: false,
        }
        }
    });




// SECOND CHART : top layer Classes

	{% if ontospy_graph.toplayer %}

    var ctx2 = document.getElementById("toplayerChart").getContext("2d");

    var data2 = {
            datasets: [{
                data: [
                    {% for class in ontospy_graph.toplayer %}{{ class.descendants|length|add:"1"}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                ],
                backgroundColor: [
                    "#FF6384",
                    "#4BC0C0",
                    "#FFCE56",
                    "#E7E9ED",
                    "#36A2EB"
                ],
                label: 'Top Layer' // for legend
            }],
            labels: [
                {% for class in ontospy_graph.toplayer %}"{{class.bestLabel|safe}}"{% if not forloop.last %}, {% endif %}
                {% endfor %}
            ]
        };
    var myPolarChart = new Chart(ctx2, {
    type: 'polarArea',
    data: data2,
    options: {
        legend: {
            display: true,
        }
        }
    });

    {% endif %}




// SECOND CHART : top layer SKOS

{% if ontospy_graph.toplayerSkosConcepts %}

    var ctx2skos = document.getElementById("toplayerChartSKOS").getContext("2d");

    var data2skos = {
            datasets: [{
                data: [
                    {% for concept in ontospy_graph.toplayerSkosConcepts %}{{ concept.descendants|length|add:"1"}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                ],
                backgroundColor: [
                    "#FF6384",
                    "#4BC0C0",
                    "#FFCE56",
                    "#E7E9ED",
                    "#36A2EB"
                ],
                label: 'Top Layer' // for legend
            }],
            labels: [
                {% for concept in ontospy_graph.toplayerSkosConcepts %}"{{concept.bestLabel|safe}}"{% if not forloop.last %}, {% endif %}
                {% endfor %}
            ]
        };
    var myPolarChart = new Chart(ctx2skos, {
    type: 'polarArea',
    data: data2skos,
    options: {
        legend: {
            display: true,
        }
        }
    });

    {% endif %}






// THIRD CHART: triples

	var ctxTriples = document.getElementById("triplesStats").getContext("2d");
	var dataTriples = {
    labels: ["Triples"],
    datasets: [
                {
                    label: "Triples Count",
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    data: [{{ontospy_graph.triplesCount}}],
                }
            ]
        };

    var myBarChart = new Chart(ctxTriples, {
    type: 'bar',
    data: dataTriples,
    options: {
        legend: {
            display: false,
            },
        scales: {
            yAxes: [{
                stacked: true
            }]
        }
        }
    });




</script>



{% endblock extrajs %}