
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        {% if 0%}<li class="sidebar-brand">
            <a href="#">
                Start Bootstrap
            </a>
        </li>{% endif %}

        <li style="margin-top: 20px;"><a {% ifequal thispage "dashboard" %}class="active"{% endifequal %} href="dashboard.html">Dashboard</a>
        </li>

        <li ><a {% ifequal thispage "entities-az" %}class="active"{% endifequal %}href="entities-az.html">Entities</a>
        </li>

            {# simulated second level #}
            <li class="second-level" ><a {% ifequal thispage "classes" %}class="active"{% endifequal %}href="entities-az.html">Classes</a>
            </li>
            <li class="second-level" ><a {% ifequal thispage "properties" %}class="active"{% endifequal %} href="entities-az.html">Properties</a>
            </li>
            <li class="second-level" ><a {% ifequal thispage "concepts" %}class="active"{% endifequal %}href="entities-az.html">Concepts</a>
            </li>


        <li ><a {% ifequal thispage "visualizations" %}class="active"{% endifequal %} href="visualizations.html">Visualizations</a>
        </li>

{#        <li>#}
{#            <a href="#">Overview</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="#">Events</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="#">About</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="#">Services</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="#">Contact</a>#}
{#        </li>#}
    </ul>
</div>
<!-- /#sidebar-wrapper -->
