





<style type="text/css" media="screen">


body {
	font: 85% Verdana,Arial,sans-serif;
    margin: 0;  /* for splitter */
	padding: 0; /* for splitter */
	overflow: hidden;	/* Remove scroll bars on browser window */
}


h1, h2, h3, h4, h5, h6 { text-align: left }
/* background should be transparent, but WebTV has a bug */
h1, h2, h3, h4, h5 { color: #005A9C;}
h1.title { font: 200% sans-serif; margin: 0 0 10px; }
h1 { font: 170% sans-serif }
h2 { font: 160% sans-serif }
h3 { font: 140% sans-serif }
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }



#header { padding: 1em; }

{#SPLITTER CSS#}

#MySplitter {
	/* Height is set to match window size in $().ready() below */
	border: 3px solid #669;
	min-width:  600px;
	min-height: 300px;
}
.SplitterPane {
	background: #eef;
	overflow: auto;
}
.vsplitbar {
	width: 6px;
	background: #669 no-repeat center;
	/* background: #669 url(img/vgrabber.gif) no-repeat center; */
}
.vsplitbar.active, .vsplitbar:hover {
	background-color: #c66;
	width: 6px;
	opacity: 0.5;
	filter: alpha(opacity=50); /* IE */
}



a.ontolink {
    background: antiquewhite;
    color: darkblue;
}
.linksign {font-size: 65%; text-decoration: none;}
.highlight_entity {
  background: antiquewhite;
  color: darkblue;
}



pre { margin-left: 2em }

pre, code { font-family: monospace } /* navigator 4 requires this */

pre {
	white-space: pre;
	color: #060;
	font: 90% Courier New,monospace;
	margin: 0.75em;
}

p {
	margin: 0.35em 0;
}

ol, ul, li {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

kbd {
	font: 90% Courier New,monospace;
	color: #060;
}
code {
	font: 100% Courier New,monospace;
	color: #050;
}
em {
	color: #833;
	font-weight: bold;
}
dt {
	color: #336;
	font-weight: bold;
	margin: 0.25em 0;
}
dd {
	margin: 0.25em 2em 0.5em;
}

input {margin: 15px 0px 5px 5px; padding: 2px 3px; width: 209px;}


:link { color: #00C; background: transparent }
:visited { color: #00C; background: transparent }
a:active { color: #C00; background: transparent }

a:link img, a:visited img { border-style: none } /* no border on img links */

a:hover {color: white; background: #00C; }
a.backlink:hover {color: white; background: grey; }
a.greylink:hover {color: white; background: grey; }

.margintop {
 margin-top: 40px;
}

.hide { display: none }


.ontospy_credits {
  color: gray;
}


.implementation {
background: aliceblue;
padding: 10px;
margin-top: 5px;
}

fieldset {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 13px;
  border: 1px groove threedface;
}

legend {
  text-transform: uppercase;
}

.entity-div {
  /*margin: 55px 10px 30px 10px;*/
  margin: 0px 10px 30px 10px;
}

.entity-section {
  margin-bottom: 0px;
}


a.backlink {
  font-size: 80%;
  color: grey;
}

a.greylink {
  color: grey;
}


   .implementation_title {
{#       text-transform: uppercase;#}
       font-weight: bold;
       font-size: 100%;
   }

.section-desc {
    margin-top: 15px;
    margin-bottom: 15px;
}




.tree-container {
    width: 3000em;
    overflow-x: auto;
    white-space: nowrap;
}


{#      CSS FOR FAMILY TREE   http://thecodeplayer.com/experiment/css3-family-tree/2   #}


.tree ul {
    padding-top: 20px; position: relative;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 45px;
    z-index: -1;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;

    -webkit-transform: translateX(1px);
    -moz-transform: translateX(1px);
    transform: translateX(1px);

    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: -12px; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 32px;
    z-index: -1;
}

.tree li a{
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    background: white;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.tree li a+a {
    margin-left: 20px;
    position: relative;
}
.tree li a+a::before {
    content: '';
    position: absolute;
    border-top: 1px solid #ccc;
    top: 50%; left: -21px;
    width: 20px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover~ul li a {
    background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover~ul li::after,
.tree li a:hover~ul li::before,
.tree li a:hover~ul::before,
.tree li a:hover~ul ul::before
{
    border-color: #94a0b4;
}




/*pygments css*/
{{pygments_code_css}}

/*overloading this class from pygments*/
.highlight {
  overflow: auto;
}



  </style>